.home {
    height: 100vh;
    transition: 4s ease-in-out;
    scroll-behavior: smooth;

}

.home-container {
    width: 100%;
    height: 100%;
}

 .section {
    height: 100vh;
}
/*
.projects-and-skills-section {
    padding-top: 0.1em;
}

.about-me-section {
    padding-top: 0.1em;

}

.header-section {
    height: 100vh;
    position: relative;
    transition: 1s ease-in-out;
} */

@keyframes example {
    0% {bottom: 1em;}
    50% {bottom: .8em;}
    100% {bottom: 1em;}
  }

.arrow-down {
    position: absolute;
    bottom: 1em;
    left: 50%;
    font-size: 2em;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow-down a {
    color: #333;
}

.arrow-down:hover {
    color: rgb(135, 135, 135);
    cursor: pointer;
}

/* .slide {
    transform :translateY(-100%);
    opacity:0;
} */