.projects {
    padding: 2em 0;
}

.projects-headline {
    text-align: center;
}

.projects-headline h2 {
    display: inline-block;
    font-weight: 300;
    border-bottom: 1px solid #333;
}

.projects-container {
    max-width: 1200px;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
}

.project {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #333;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 5px 5px 10px rgba(184, 184, 184, 0.221);
}

.project-title {
    text-align: center;
    margin: 0.5em 0;
}

/* Dark Theme */

#dark .project {
    box-shadow: none;
}

/* Media Queries */

@media screen and
(min-width: 768px) and
(max-width: 1023px) {
    .projects-container {
        /* flex-direction: column-reverse; */
        flex-wrap: wrap;
        gap: 2em;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

    .project {
        width: 300px;
        display: flex;
        flex-direction: column;
        border: 0.5px solid #333;
        border-radius: 1em;
        padding: 1em;
        /* margin: 0 1em; */
        box-shadow: 5px 5px 10px rgba(184, 184, 184, 0.221);
    }
}

@media screen and
(max-width: 767px) {
    .projects-container {
        /* flex-direction: column-reverse; */
        flex-wrap: wrap;
        gap: 2em;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

    .projects {
        padding: 0;
    }

    .project {
        width: 300px;
        display: flex;
        flex-direction: column;
        border: 0.5px solid #333;
        border-radius: 1em;
        padding: 1em;
        /* margin: 0 1em; */
        box-shadow: 5px 5px 10px rgba(184, 184, 184, 0.221);
    }
}
